/* Grid Layout */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  flex: 1 0 21%; /* 계산: (100 - (간격 * (열 수 - 1)) / 열 수 */
  box-sizing: border-box;
  margin: 1%;
  background-color: white;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.grid-item .post__image img {
  width: 100%;
  height: auto;
}
