/* Grid Layout */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  flex: 0 1 calc(32% - 2%);
  box-sizing: border-box;
  margin: 1%;
  background-color: white;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.grid-item .post__image img {
  width: 100%;
  height: auto;
}

.tiles {
  display: flex; /* 추가된 부분 */
  flex-wrap: wrap; /* 추가된 부분 */
}
.post__title {
  font-size: 14px; /* 원하는 글자 크기로 조절 */
}
