{% if type == 'grid' %}
  <article class="post grid-item">
    <header class="post__header">
      <h3 class="post__title">
        <a href="{{ post.url }}" rel="permalink">{{ post.title | escape }}</a>
      </h3>
      <div class="post__meta-date">{{ post.date | date: "%b %-d, %Y" }}</div>
      {% if post.tags.size >0 %}
        <span> - </span>
        <span class="post__meta-tags">
        {% for tag in post.tags %}
          {{tag}}{% if forloop.last == false %}, {% endif %}
        {% endfor %}
        </span>
      {% endif %}
    </header>
  </article>
{% endif %}
{% if type == 'list' %}
  <!-- 기존 리스트 포맷 코드를 여기 옮겨놓으세요 -->
{% endif %}
