---
layout: home
---

{% assign posts = site.posts | where: "layout", "single" %}
<div class="tiles">
  {% for post in posts %}
    <article class="post tiles__cell">
      <a href="{{ post.url }}">
        <div class="post__image">
          {% if post.teaser %}
            <img src="{{ post.teaser }}" alt="{{ post.title }} 티저 이미지">
          {% else %}
            <img src="{{ site.teaser }}" alt="{{ post.title }} 티저 이미지">
          {% endif %}
        </div>
        <h2 class="post__title">{{ post.title }}</h2>
      </a>
    </article>
  {% endfor %}
</div>
